# Logs & Runtime Environments
node_modules/
.venv/
venv/
ENV/
env/
__pycache__/
*.pyc

# Local Environment Secrets
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*